<div class="container">
  <mat-toolbar class="header">
      <span><h2>Owners</h2></span>
      <span class="spacer"></span>
      <ul>
        <li>
          <div class="active-cyan-4 mb-4" id="search">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </div>
        </li>
      </ul>
  </mat-toolbar>

  <button type="button" name="button" (click)="openCreateOwner()">Create Owner</button>
  <br><br>

  <div>
      <table>
        <tr>
          <td>
            Owner Name
          </td>
          <td>
            Owner Email
          </td>
          <td>
            Owner Phone
          </td>
          <td>
            Account Type
          </td>
          <td>
            Commission
          </td>
        </tr>
        <tr *ngFor="let owner of owners">
          <a (click)="showOwner(owner.id)"><td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.name}}</td></a>
          <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.email}}</td>
          <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.phone}}</td>
          <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.accountType}}</td>
          <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.commission}}</td>
        </tr>
      </table>
  </div>
</div>

<div id="myModal" class="modal" *ngIf="modal == true">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>

        <div id="form">

          <form (submit)="createOwner(ownerForm)" #ownerForm="ngForm" name="newOwner">

            <div id="form-box">
              <label>Owner Name:</label>
              <input name="name" ngModel class="form-control">
              <label>Phone Number:</label>
              <input name="phone" ngModel class="form-control">
              <label>Email:</label>
              <input name="email" ngModel class="form-control">
              <label>Account Type:</label>
              <select name="accountType" ngModel class="form-control">
                <option value="Elite">Elite</option>
                <option value="Standard">Standard</option>
                <option value="Front Desk">Front Desk</option>
                <option value="Full Property Management">Full Property Management</option>  
              </select>
              <label>Commission:</label>
              <input name="commission" ngModel class="form-control">
            </div>

            <button type="submit" class="btn1">Create</button>

          </form>

        </div>

    </div>
</div>
