<p>
  owner-create works!
</p>

<button type="button" name="button" (click)="createOwner()">Create Owner</button>
<br><br>

<div>
    <table>
      <tr>
        <td>
          Owner Name
        </td>
        <td>
          Owner Email
        </td>
        <td>
          Owner Phone
        </td>
        <td>
          Account Type
        </td>
        <td>
          Commission
        </td>
      </tr>
      <tr *ngFor="let owner of owners">
        <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.name}}</td>
        <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.email}}</td>
        <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.phone}}</td>
        <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.accountType}}</td>
        <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{owner.commission}}</td>
      </tr>
    </table>
</div>
