<p style="margin-right: 10px;">Filters</p>
<div class="filters">
  <label >Status</label>
  <select>
    <option>Unresolved</option>
    <option>Awaiting owner approval</option>
    <option>Awaiting guest approval</option>
    <option>Booked</option>
    <option>Lost</option>
    <option>Canceled</option>
  </select>
  <label>Agent</label>
  <select>
    <option>All Agents</option>
    <option>Jared</option>
    <option>Juan</option>
    <option>Eleazar</option>
  </select>
  <label>Platform</label>
  <select>
    <option>All Platforms</option>
    <option>Airbnb - VJ</option>
    <option>Airbnb - Owner</option>
    <option>VRBO - VJ</option>
    <option>VRBO - Owner</option>
    <option>HomeAway</option>
    <option>TripAdvisor</option>
  </select>
  <button type="button" class="btn">Update</button>
</div>
