<div class="container">

  <mat-toolbar class="name">
      <span><h2>{{owner.name}}</h2></span>
      <span class="spacer"></span>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
  </mat-toolbar>

  <mat-toolbar class="toolbar">
    <span><h3>Contact Info</h3></span>
    <span class="spacer"></span>
    <ul>
      <li (click)="openModal('editOwnerContacts')"><a>Edit</a></li>
    </ul>
  </mat-toolbar>
  <div class="rows">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Phone:  </b><br>
      510-424-3211
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Email:</b><br>
      jsartuche@voyajoy.com
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Account Type:</b><br>
      Full Property Management
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Commission:</b><br>
      {{owner.commission}}%
    </div>
  </div>
  <div class="rows">
    <mat-toolbar class="toolbar">
      <span><h3>Properties</h3></span>
      <span class="spacer"></span>
      <ul>
        <li><a>Add Property</a></li>
      </ul>
    </mat-toolbar>


    <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Street Address</th>
                <th scope="col">City</th>
                <th scope="col">Status</th>
                <th scope="col">Property Title</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a (click)="goToProperty(1328)">1328 Scott St</a></td>
                <td>El Cerrito</td>
                <td>Active</td>
                <td>★Views of the GG Park & SF Bay★Outdoor Patio★BBQ★ / Bright 3BR with Private Patio and City Views</td>
                <td><a (click)="openModal('editProperties')">Edit</a></td>
              </tr>
              <tr *ngIf="dropdown == 1328">
                <td colspan="4">
                  <div class="box">
                    <div class="rows">
                      <h3>Listing Links</h3>
                    </div>
                    <div class="rows">
                      <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-6">
                        <h4>Voyajoy Links</h4>
                        <p>Airbnb:</p>
                        <p>{{vj_airbnb_link}}</p>
                        <p>VRBO/HomeAway:</p>
                        <p>{{vj_vrboHomeAway_link}}</p>
                        <p>Booking.com:</p>
                        <p>{{vj_booking_link}}</p>
                        <p>TripAdvisor:</p>
                        <p>{{vj_tripAdvisor_link}}</p>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-6">
                        <h4>Owner Links</h4>
                        <p>Airbnb:</p>
                        <p>{{owner_airbnb_link}}</p>
                        <p>VRBO/HomeAway:</p>
                        <p>{{owner_vrboHomeAway_link}}</p>
                        <p>Booking.com:</p>
                        <p>{{owner_booking_link}}</p>
                        <p>TripAdvisor:</p>
                        <p>{{owner_tripAdvisor_link}}</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

  <div class="rows">
    <mat-toolbar class="toolbar">
      <span><h3>Notes</h3></span>
      <span class="spacer"></span>
      <ul>
        <li><a>Edit</a></li>
      </ul>
    </mat-toolbar>

  </div>
</div>

<!-- MODAL -->


<div id="myModal" class="modal" *ngIf="modal == true">

  <!-- EDIT OWNER CONTACT FORM -->
    <div class="modal-content" *ngIf="modalType == 'editOwnerContacts'">
        <span class="close" (click)="close()">&times;</span>

        <div id="form">

          <form (submit)="editContact(contactForm, owner._id)" #contactForm="ngForm" name="editContact">

            <div id="form-box">
              <label>Name:</label>
              <input name="name" [ngModel]="owner.name" class="form-control">
              <label>Phone:</label>
              <input name="phone" [ngModel]="owner.phone" class="form-control">
              <label>Email:</label>
              <input name="email" [ngModel]="owner.email" class="form-control">
              <label> Account Type:</label>
              <input name="accountType" [ngModel]="owner.accountType" class="form-control">
              <label>Commision:</label>
              <input name="commission" [ngModel]="owner.commission" class="form-control">
            </div>

            <button type="submit" class="btn1">Update</button>

          </form>

        </div>
    </div>

    <!-- EDIT PROPERTIES FORM -->
    <div class="modal-content" *ngIf="modalType == 'editProperties'">
        <span class="close" (click)="close()">&times;</span>




        <div id="form">

          <form (submit)="onEditProperty()" #editPropertyForm="ngForm" name="editProperty">

            <div id="form-box">
              <label>Title:</label>
              <input name="title" ngModel class="form-control">
              <label>Street:</label>
              <input name="street" ngModel class="form-control">
              <label>City:</label>
              <input name="city" ngModel class="form-control">
              <label>State:</label>
              <input name="state" ngModel class="form-control">
              <label>Zip Code:</label>
              <input name="zip_code" ngModel class="form-control">
              <label>Status:</label>
              <input name="status" ngModel class="form-control">
            </div>

            <div class="row" id="form-box">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Owner Listings Links</h3>
                <label>Airbnb:</label>
                <input name="owner_airbnb_link" ngModel class="form-control">
                <label>VRBO/HomeAway:</label>
                <input name="owner_vrboHomeAway_link" ngModel class="form-control">
                <label>TripAdvisor:</label>
                <input name="owner_tripAdvisor_link" ngModel class="form-control">
                <label>Booking.com:</label>
                <input name="owner_booking_link" ngModel class="form-control">
                <label>Other:</label>
                <input name="owner_other_links" ngModel class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Voyajoy Listings Links</h3>
                <label>Airbnb:</label>
                <input name="vj_airbnb_link" ngModel class="form-control">
                <label>VRBO/HomeAway:</label>
                <input name="vj_vrboHomeAway_link" ngModel class="form-control">
                <label>TripAdvisor:</label>
                <input name="vj_tripAdvisor_link" ngModel class="form-control">
                <label>Booking.com:</label>
                <input name="vj_booking_link" ngModel class="form-control">
                <label>Other:</label>
                <input name="vj_other_links" ngModel class="form-control">
              </div>
            </div>

            <button type="submit" class="btn1">Update</button>

          </form>

        </div>

    </div>
</div>
