<div class="container">

  <mat-toolbar class="name">
      <span><h2>{{owner.name}}</h2></span>
      <span class="spacer"></span>
      <ul>
        <li>
          <a (click)="deleteOwner(owner._id)">Delete</a>
        </li>
      </ul>
  </mat-toolbar>

  <mat-toolbar class="toolbar">
    <span><h3>Contact Info</h3></span>
    <span class="spacer"></span>
    <ul>
      <li><a  (click)="openModal('editOwnerContacts', owner._id)">Edit</a></li>
      <li><a (click)="openModal('addOwnerContact')">Add Contact</a></li>
    </ul>
  </mat-toolbar>
  <div class="rows">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Phone:  </b><br>
      {{owner.phone}}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Email:</b><br>
      {{owner.email}}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Account Type:</b><br>
      {{owner.accountType}}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <b>Commission:</b><br>
      {{owner.commission}}%
    </div>
  </div>
  <div class="rows">
    <mat-toolbar class="toolbar">
      <span><h3>Properties</h3></span>
      <span class="spacer"></span>
      <ul>
        <li><a (click)="openModal('addProperty', owner._id)">Add Property</a></li>
      </ul>
    </mat-toolbar>


    <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Street Address</th>
                <th scope="col">City</th>
                <th scope="col">Status</th>
                <th scope="col">Property Title</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let property of owner.properties">
              <tr>
                <td><a (click)="goToProperty(property._id)">{{property.addressStreet}}</a></td>
                <td>{{property.addressCity}}</td>
                <td>{{property.status}}</td>
                <td>{{property.title}}</td>
                <td><a (click)="openModal('editProperties', property._id)">Edit</a>&nbsp;&nbsp; <a>Delete</a></td>
              </tr>
              <tr *ngIf="dropdown == property._id">
                <td colspan="4">
                  <div class="box">
                    <div class="rows">
                      <h3>Listing Links</h3>
                    </div>
                    <div class="rows">
                      <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-6">
                        <h4>Voyajoy Links</h4>
                        <p>Airbnb:</p>
                        <a>{{property.vj_airbnb_link}}</a>
                        <p>Booking.com:</p>
                        <a>{{property.vj_booking_link}}</a>
                        <p>TripAdvisor:</p>
                        <a>{{property.vj_tripAdvisor_link}}</a>
                        <p>VRBO/HomeAway:</p>
                        <a>{{property.vj_vrboHomeAway_link}}</a>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-6">
                        <h4>Owner Links</h4>
                        <p>Airbnb:</p>
                        <a>{{property.owner_airbnb_link}}</a>
                        <p>VRBO/HomeAway:</p>
                        <a>{{property.owner_vrboHomeAway_link}}</a>
                        <p>Booking.com:</p>
                        <a>{{property.owner_booking_link}}</a>
                        <p>TripAdvisor:</p>
                        <a>{{property.owner_tripAdvisor_link}}</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

  <div class="rows">
    <mat-toolbar class="toolbar">
      <span><h3>Notes</h3></span>
      <span class="spacer"></span>
      <ul>
        <li><a>Edit</a></li>
      </ul>
    </mat-toolbar>

  </div>
</div>

<!-- MODAL -->


<div id="myModal" class="modal" *ngIf="modal == true">

  <!-- EDIT OWNER CONTACT FORM -->
    <div class="modal-content" *ngIf="modalType == 'editOwnerContacts'">
        <span class="close" (click)="close()">&times;</span>

        <div id="form">

          <form (submit)="editContact(contactForm, owner._id)" #contactForm="ngForm" name="editContact">

            <div id="form-box">
              <label>Name:</label>
              <input name="name" [ngModel]="owner.name" class="form-control">
              <label>Phone:</label>
              <input name="phone" [ngModel]="owner.phone" class="form-control">
              <label>Email:</label>
              <input name="email" [ngModel]="owner.email" class="form-control">
              <label> Account Type:</label>
              <select name="accountType" [ngModel]="owner.accountType" class="form-control">
                <option value="Elite">Elite</option>
                <option value="Standard">Standard</option>
                <option value="Front Desk">Front Desk</option>
                <option value="Full Property Management">Full Property Management</option>
              </select>
              <!-- <input name="accountType" [ngModel]="owner.accountType" class="form-control"> -->
              <label>Commision:</label>
              <input name="commission" [ngModel]="owner.commission" class="form-control">
            </div>

            <button type="submit" class="btn1">Update</button>

          </form>

        </div>
    </div>

    <!-- ADD OWNER CONTACT FORM -->
      <div class="modal-content" *ngIf="modalType == 'addOwnerContact'">
          <span class="close" (click)="close()">&times;</span>

          <div id="form">

            <form (submit)="addOwnerContact(addOwnerContactForm, owner._id)" #addOwnerContactForm="ngForm" name="addOwnerContactForm">
              <div id="form-box">
                <label>Name:</label>
                <input name="name" ngModel class="form-control">
                <label>Phone:</label>
                <input name="phone" ngModel class="form-control">
                <label>Email:</label>
                <input name="email" ngModel class="form-control">
              </div>

              <button type="submit" class="btn1">Add Contact</button>

            </form>

          </div>
      </div>

    <!-- EDIT PROPERTIES FORM -->
    <div class="modal-content" *ngIf="modalType == 'editProperties'">
        <span class="close" (click)="close()">&times;</span>


        <div id="form" *ngFor="let property of owner.properties">

          <form (submit)="editProperty(editPropertyForm, id)" #editPropertyForm="ngForm" name="editProperty" *ngIf="property._id == id">

            <div id="form-box">
              <label>Title:</label>
              <input name="title" [ngModel]="property.title" class="form-control">
              <label>Street:</label>
              <input name="street" [ngModel]="property.addressStreet" class="form-control">
              <label>City:</label>
              <input name="city" [ngModel]="property.addressCity" class="form-control">
              <label>State:</label>
              <input name="state" [ngModel]="property.addressState" class="form-control">
              <label>Zip Code:</label>
              <input name="zip_code" [ngModel]="property.addressZip" class="form-control">
              <label>Status:</label>
              <select name="status" [ngModel]="property.status" class="form-control">
                <option value="Active">Active</option>
                <option value="Delisted">Delisted</option>
              </select>
              <!-- <input name="status" [ngModel]="property.status" class="form-control"> -->
            </div>

            <div class="row" id="form-box">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Owner Listings Links</h3>
                <label>Airbnb:</label>
                <input name="owner_airbnb_link" [ngModel]="property.owner_airbnb_link" class="form-control">
                <label>VRBO/HomeAway:</label>
                <input name="owner_vrboHomeAway_link" [ngModel]="property.owner_vrboHomeAway_link" class="form-control">
                <label>TripAdvisor:</label>
                <input name="owner_tripAdvisor_link" [ngModel]="property.owner_tripAdvisor_link" class="form-control">
                <label>Booking.com:</label>
                <input name="owner_booking_link" [ngModel]="property.owner_booking_link" class="form-control">
                <label>Other:</label>
                <input name="owner_other_links" [ngModel]="property.owner_other_links" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Voyajoy Listings Links</h3>
                <label>Airbnb:</label>
                <input name="vj_airbnb_link" ngModel class="form-control">
                <label>VRBO/HomeAway:</label>
                <input name="vj_vrboHomeAway_link" ngModel class="form-control">
                <label>TripAdvisor:</label>
                <input name="vj_tripAdvisor_link" ngModel class="form-control">
                <label>Booking.com:</label>
                <input name="vj_booking_link" ngModel class="form-control">
                <label>Other:</label>
                <input name="vj_other_links" ngModel class="form-control">
              </div>
            </div>

            <button type="submit" class="btn1">Update</button>

          </form>

        </div>



    </div>

    <!-- Add PROPERTY FORM -->
    <div class="modal-content" *ngIf="modalType == 'addProperty'">
        <span class="close" (click)="close()">&times;</span>




        <div id="form">

          <form (submit)="addProperty(addPropertyForm, owner._id)" #addPropertyForm="ngForm" name="addProperty">

            <div id="form-box">
              <label>Title:</label>
              <input name="title" ngModel class="form-control">
              <label>Street:</label>
              <input name="street" ngModel class="form-control">
              <label>City:</label>
              <input name="city" ngModel class="form-control">
              <label>State:</label>
              <input name="state" ngModel class="form-control">
              <label>Zip Code:</label>
              <input name="zip_code" ngModel class="form-control">
              <label>Status:</label>
              <select name="status" ngModel class="form-control">
                <option value="Active">Active</option>
                <option value="Delisted">Delisted</option>
              </select>
            </div>

            <div class="row" id="form-box">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Owner Listings Links</h3>
                <label>Airbnb:</label>
                <input name="owner_airbnb_link" ngModel class="form-control">
                <label>VRBO/HomeAway:</label>
                <input name="owner_vrboHomeAway_link" ngModel class="form-control">
                <label>TripAdvisor:</label>
                <input name="owner_tripAdvisor_link" ngModel class="form-control">
                <label>Booking.com:</label>
                <input name="owner_booking_link" ngModel class="form-control">
                <label>Other:</label>
                <input name="owner_other_links" ngModel class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Voyajoy Listings Links</h3>
                <label>Airbnb:</label>
                <input name="vj_airbnb_link" ngModel class="form-control">
                <label>VRBO/HomeAway:</label>
                <input name="vj_vrboHomeAway_link" ngModel class="form-control">
                <label>TripAdvisor:</label>
                <input name="vj_tripAdvisor_link" ngModel class="form-control">
                <label>Booking.com:</label>
                <input name="vj_booking_link" ngModel class="form-control">
                <label>Other:</label>
                <input name="vj_other_links" ngModel class="form-control">
              </div>
            </div>

            <button type="submit" class="btn1">Create</button>

          </form>

        </div>

    </div>
</div>
