<aside class="right">
  <div class="filter">
    <p style="margin-right: 10px;">Filters</p>
    <div class="filters">
      <label >Status</label>
      <select>
        <option>Unresolved</option>
        <option>Awaiting owner response</option>
        <option>Awaiting guest response</option>
        <option>Booked</option>
        <option>Lost</option>
        <option>Canceled</option>
      </select>
      <label>Agent</label>
      <select>
        <option>All Agents</option>
        <option>Jared</option>
        <option>Juan</option>
        <option>Eleazar</option>
      </select>
      <label>Platform</label>
      <select>
        <option>All Platforms</option>
        <option>Airbnb - VJ</option>
        <option>Airbnb - Owner</option>
        <option>VRBO - VJ</option>
        <option>VRBO - Owner</option>
        <option>HomeAway - Owner</option>
        <option>TripAdvisor - VJ</option>
        <option>TripAdvisor - Owner</option>
        <option>Booking.com - VJ</option>
        <option>Booking.com - Owner</option>
        <option>Owner's Website</option>
        <option>Offline</option>
        <option>Other</option>
      </select>
      <button type="button" class="btn2">Update</button>
    </div>
  </div>
</aside>

<div *ngIf="userIsAuthenticated">
  <form (submit)="onCreateTicket(ticketForm)" #ticketForm="ngForm" name="newTicket">
    <div class="row">

      <div id="form-box" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <mat-form-field>
          <mat-select placeholder="Platform" [(ngModel)]="selectedPlatform" name="platform">
            <mat-option *ngFor="let platform of platforms" [value]="platform.value">
              {{platform.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Inquiry Type" [(ngModel)]="selectedInquiryType" name="inquiryType">
            <mat-option *ngFor="let type of inquiryTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel #guestFirstName="ngModel" name="guestFirstName" placeholder="Guest Name">
        </mat-form-field>
        <!-- <label>Platform:</label><br>
        <select class="form-control" name="platform" ngModel>
          <option value="Airbnb - VJ">Airbnb - VJ</option>
          <option value="Airbnb - Owner">Airbnb - Owner</option>
          <option value="VRBO - VJ">VRBO - VJ</option>
          <option value="VRBO - Owner">VRBO - Owner</option>
          <option value="HomeAway - Owner">HomeAway - Owner</option>
          <option value="TripAdvisor - VJ">TripAdvisor - VJ</option>
          <option value="TripAdvisor - Owner">TripAdvisor - Owner</option>
          <option value="Booking.com">Booking.com</option>
          <option value="Other - VJ">Other - VJ</option>
          <option value="Other - Owner">Other - Owner</option>
          <option value="Offline">Offline</option>
        </select>
        <label>Inquiry Type:</label><br>
        <select class="form-control" name="inquiry_type" ngModel>
          <option value="Inquiry">Inquiry</option>
          <option value="Booking Request">Booking Request</option>
          <option value="Instant Booking">Instant Booking</option>
        </select> -->
      </div>

      <div id="form-box" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

        <mat-form-field>
          <input aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="first" placeholder="Owner">
          <mat-autocomplete #first="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions1|async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input aria-label="Number" matInput [formControl]="otherControl" [matAutocomplete]="second" placeholder="Property">
          <mat-autocomplete #second="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions2| async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- <label>Guest Name:</label>
        <input name="guest_name" ngModel class="form-control" required #guestFirstName="ngModel" placeholder="required">
        <label>Property Address:</label>
        <input name="property" ngModel class="form-control" required #property="ngModel" placeholder="required">
        <label>Property Owner:</label>
        <input name="property_owner" ngModel class="form-control" required #propertyOwner="ngModel" placeholder="required"> -->
      </div>

      <div id="form-box" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

        <mat-form-field>
          <input matInput [matDatepicker]="check_in" placeholder="Check In">
          <mat-datepicker-toggle matSuffix [for]="check_in"></mat-datepicker-toggle>
          <mat-datepicker #check_in></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="check_out" placeholder="Check Out">
          <mat-datepicker-toggle matSuffix [for]="check_out"></mat-datepicker-toggle>
          <mat-datepicker #check_out></mat-datepicker>
        </mat-form-field>
        <!-- <label>Check In:</label>
        <input name="check_in" ngModel class="form-control" type="date">
        <label>Check Out:</label>
        <input name="check_out" ngModel class="form-control" type="date">
        <button type="submit" class="btn1">Create Inquiry   <i class="fas fa-plus"></i></button> -->
      </div>

    </div>
  </form>

</div>

<div *ngFor="let ticket of tickets" id="ticket">
  <div class="row" id="top">


    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">

      <img src={{ticket.platformImage}} alt="">

      <table class="new">
        <tr>
          <td>
            <h3 (click)="toggleNotes(ticket.id)">{{ticket.inquiryType}} from {{ticket.guestName}}: {{ticket.checkIn}} to {{ticket.checkOut}}</h3>
          </td>

        </tr>
        <tr>
          <td>
            {{ticket.property}} | {{ticket.accountType}} | {{ticket.propertyOwner}}
          </td>

        </tr>
      </table>
    </div>

    <div class="dropdowns" class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <select class="" name="">
        <option>Jared</option>
        <option>Juan</option>
        <option>Eleazar</option>
      </select><br>
      <select class="" name="">
        <option>{{ticket.status}}</option>
        <option>Awaiting owner response</option>
        <option>Awaiting guest response</option>
      </select>
    </div>

  </div>

  <div class="dropdown" *ngIf="dropdown == ticket.id">
    <div class="row" id="checklist">
      Checklist
    </div>
    <div id="bottom">
      <div class="row">
        Notes
      </div>
      <div class="row">
        <textarea name="name" rows="2" cols="80" id="noteInput"></textarea>
      </div>
    </div>
    <button *ngIf="userIsAuthenticated" type="button" class="btn btn-info" name="button" (click)="onEdit(ticket.id)">EDIT</button>
    <button *ngIf="userIsAuthenticated" type="button" class="btn btn-danger" name="button" (click)="onDelete(ticket.id)">DELETE</button>
  </div>

</div>


<!-- MODAL FORM -->

<div id="myModal" class="modal" *ngIf="modal == true">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>

        <div id="form">

          <form (submit)="onEditTicket(ticketForm, ticket.id, ticket.status)" #ticketForm="ngForm" name="newTicket">

            <div id="form-box">
              <label>Platform:</label>
              <input name="platform" [ngModel]="ticket.platform" class="form-control">
              <label>Inquiry Type:</label>
              <input name="inquiry_type" [ngModel]="ticket.inquiryType" class="form-control">
            </div>


            <div id="form-box">
              <label>Guest Name:</label>
              <input name="guest_name" [ngModel]="ticket.guestName" class="form-control" required #guestFirstName="ngModel" placeholder="required">
            </div>

            <div id="form-box">
              <label>Check In:</label>
              <input name="check_in" [ngModel]="ticket.checkIn" class="form-control" type="date">
              <label>Check Out:</label>
              <input name="check_out" [ngModel]="ticket.checkOut" class="form-control" type="date">
            </div>

            <div id="form-box">
              <label>Property Address:</label>
              <input name="property" [ngModel]="ticket.property" class="form-control" required #property="ngModel" placeholder="required">
              <label>Property Owner:</label>
              <input name="property_owner" [ngModel]="ticket.propertyOwner" class="form-control" required #propertyOwner="ngModel" placeholder="required">
            </div>

            <button type="submit" class="btn1">Update</button>

          </form>

        </div>

    </div>
</div>
