<div *ngFor="let ticket of tickets" id="ticket">
  <div class="row" id="top">


    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">

      <img src={{ticket.platformImage}} alt="">

      <table class="new">
        <tr>
          <td>
            <h3 (click)="toggleNotes(ticket.id)">{{ticket.inquiryType}} from {{ticket.guestName}}: {{ticket.checkIn}} to {{ticket.checkOut}}</h3>
          </td>

        </tr>
        <tr>
          <td>
            {{ticket.property}} | Account Type | {{ticket.propertyOwner}}
          </td>

        </tr>
      </table>
    </div>

    <div class="dropdowns" class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <select class="" name="">
        <option>Jared</option>
        <option>Juan</option>
        <option>Eleazar</option>
      </select><br>
      <select class="" name="">
        <option>{{ticket.status}}</option>
        <option>Awaiting owner response</option>
        <option>Awaiting guest response</option>
      </select>
    </div>

  </div>

  <div class="dropdown" *ngIf="dropdown == ticket.id">
    <div class="row" id="checklist">
      Checklist
    </div>
    <div id="bottom">
      <div class="row">
        Notes
      </div>
      <div class="row">
        <textarea name="name" rows="2" cols="80" id="noteInput"></textarea>
      </div>
    </div>
    <button type="button" class="btn btn-info" name="button" (click)="onEdit(ticket.id)">EDIT</button>
    <button type="button" class="btn btn-danger" name="button" (click)="onDelete(ticket.id)">DELETE</button>
  </div>

</div>

<div id="myModal" class="modal" *ngIf="modal == true">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>

        <div id="form">

          <form (submit)="onEditTicket(ticketForm, ticket.id, ticket.status)" #ticketForm="ngForm" name="newTicket">

            <div id="form-box">
              <label>Platform:</label>
              <input name="platform" [ngModel]="ticket.platform" class="form-control">
              <label>Inquiry Type:</label>
              <input name="inquiry_type" [ngModel]="ticket.inquiryType" class="form-control">
            </div>


            <div id="form-box">
              <label>Guest Name:</label>
              <input name="guest_name" [ngModel]="ticket.guestName" class="form-control" required #guestFirstName="ngModel" placeholder="required">
            </div>

            <div id="form-box">
              <label>Check In:</label>
              <input name="check_in" [ngModel]="ticket.checkIn" class="form-control" type="date">
              <label>Check Out:</label>
              <input name="check_out" [ngModel]="ticket.checkOut" class="form-control" type="date">
            </div>

            <div id="form-box">
              <label>Property Address:</label>
              <input name="property" [ngModel]="ticket.property" class="form-control" required #property="ngModel" placeholder="required">
              <label>Property Owner:</label>
              <input name="property_owner" [ngModel]="ticket.propertyOwner" class="form-control" required #propertyOwner="ngModel" placeholder="required">
            </div>

            <button type="submit" class="btn"><i class="fas fa-plus"></i></button>

          </form>

        </div>

    </div>
</div>
